<nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-text" style="color: white; font-weight: bold; font-size: xx-large;">EMS</div>
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li class="navbar-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
        </li>
    </ul>
</nav>
<div class="container mt-4 ">
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container" style="font-size: large;font-weight: 400;">
        <span>Tüm Hakları Saklıdır. | 2022 | Samet Fatih Gözüm</span>
    </div>
</footer>