<div class="col-md-4 offset-md-4" style="padding: 36px">
    <h3 style="font-weight: 700;">Add Employee</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group"style="margin-bottom: 10px;">
            <label>FirstName</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
        </div>
        <div class="form-group"style="margin-bottom: 10px;">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
        </div>
        <div class="form-group"style="margin-bottom: 10px;">
            <label>Email</label>
            <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId">
        </div>
        <div class="form-group"style="margin-bottom: 10px;">
            <label>Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="employee.phoneNumber"
                name="phoneNumber" >
        </div>
        <button class="btn btn-success" type="submit">Add</button>
    </form>
</div>